.nav-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li {
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_text {
  font-size: 80px;
  margin-bottom: 20px;
}

.main_subtext {
  font-size: 22px;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-style: italic;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.columns > * {
  flex: 1;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
}

.box {
  padding: 5px;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.links {
  text-decoration: none;
}
