body {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-size: 20px;
}

.main-text {
  font-size: 80px;
  margin-bottom: 20px;
}

.main-subtext {
  font-size: 22px;
  margin-bottom: 5rem;
}

.center-section {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-style: italic;
  width: 30rem;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.columns > * {
  flex: 1;
  text-decoration: none;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer > * {
  text-decoration: none;
}
